{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Email Scheduler</h1>
    <p class="lead">This application allows users to schedule emails to be pushed at a later date.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Credits</h2>
        <p>
            1: <b>Flask</b> gives a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.<br><br>
            <a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a><br><br>
        </p>
        <p>
            2: <b>Python</b> programming language.<br><br>
            <a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a><br><br>
        </p>
        <p>
            3: Python Tools for <b>Visual Studio</b>.<br><br>
            <a class="btn btn-default" href="https://www.visualstudio.com/python-vs.aspx">Learn more &raquo;</a><br><br>
        </p>
        <p>
            4: <b>Sqlite</b> over Python.<br>
            <a class="btn btn-default" href="https://sqlite.org/">Learn more &raquo;</a>
        </p>
    </div>
</div>

{% endblock %}
